@page "/Logout"
@model CodeShare.Pages.LogoutPageModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogoutPage</title>
</head>
<body>
</body>
</html>
