@page "/Register"
@model CodeShare.Pages.RegisterPageModel
@{
    ViewData["Title"] = "RegisterPage";
    Layout = "_LoginRegisterLayout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Register</h1>
<form method="post">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" asp-for="@Model.UserName" placeholder="At least 3 characters">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" asp-for="@Model.Password" placeholder="At least 8 characters">
    </div>
    <div class="form-group">
        <label for="repeated-password">Repeat Password</label>
        <input type="password" class="form-control" asp-for="@Model.RepeatedPassword" placeholder="At least 8 characters">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


