@inherits LayoutComponentBase


@*<div class="sidebar">
    <CollaboratorsList />
</div>*@

<div class="main">
    <div class="top-row px-4 auth">
        <Login />
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>
    <div class="content px-4" style="display:flex">
        @Body
    </div>
</div>
